global:
  enabled: true
server:
  ha:
    enabled: false
    replicas: 3
    apiAddr: null
    raft:
      enabled: false
      setNodeId: false
      config: |
        ui = true

        listener "tcp" {
          tls_disable = 1
          address = "[::]:8200"
          cluster_address = "[::]:8201"
        }

        storage "raft" {
          path = "/vault/data" 
        }

        service_registration "kubernetes" {}

        seal "awskms" {
          region = "{{ aws_region }}"
          kms_key_id  = "{{ vault_kms_key_id | default('') }}"
        }
