aws/.terraform/modules
aws/aws_resources/.terraform/modules
aws/k8s_resources/.terraform/modules
aws/tf_backend_setup/terraform.tfvars
aws/tf_backend_setup/.terraform/*
aws/tf_backend_setup/*.tfstate
aws/tf_backend_setup/*.tfstate.*
aws/terraform.tfstate
aws/terraform.tfstate.*
aws/terraform.tfstate.d/.*
aws/.terraform.tfstate.lock.info
aws/aws_resources/terraform.tfstate
aws/aws_resources/terraform.tfstate.*
aws/aws_resources/terraform.tfstate.d/.*
aws/aws_resources/.terraform.tfstate.lock.info
aws/k8s_resources/terraform.tfstate
aws/k8s_resources/terraform.tfstate.*
aws/k8s_resources/terraform.tfstate.d/.*
aws/k8s_resources/.terraform.tfstate.lock.info
ansible-automation/network-setup.yml
ansible-automation/vault-values.yaml
ansible-automation/baf.log
ansible-automation/pre-register-users.sh
.DS_Store
docs/~$C-GitHub-Actions.doc
ansible-automation/orderer.pem
ansible-automation/orderer.base64.pem
openidl-config/aais-dev-config-secrets.json
openidl-config/config/*
!openidl-config/config/placeholder.txt
openidl-config/analytics-dev-config-secrets.json
openidl-config/carrier-dev-config-secrets.json
openidl-config/carrier-dev-config-secrets.json.hig