./kubeconfig_file
./tf_backend_setup/.terraform/*
./tf_backend_setup/terraform.tfstate
./tf_backend_setup/terraform.tfvars
./tf_backend_setup/.terraform/.*
./terraform.tfstate
.idea/
./.terraform/*
terraform.tfstate.d/.*
terraform.tfstate.d/*
carriers_another_region.tfvars
carriers_same_region.tfvars
aais_carriers.tfvars
aais_clusters.tfvars
./terraform.tfstate.d
./terraform.tfstate
./terraform.tfvars
./terraform.tfstate.backup
./.terraform
./.*.tfvars
.terraform/*
.terraform/providers
.terraform/modules
.terraform.lock.hcl