{
    "url":"http://vault.{{ env }}.{{ internal_domain }}",
    "username":"{{ vault_user }}",
    "password":"{{ vault_user_token }}",
    "orgName":"{{ vault_org_name }}",
    "vaultPath":"{{ vault_path }}",
    "apiVersion":"v1"
}
